<div class="container">
  <h3 class="center-align">Inventory Management System</h3>
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Add Product</span>
          <form class="form-group">
            <input type="text" class="form-control col-sm-8" placeholder="Enter product title" ng-model="newProduct.title">
            <textarea class="materialize-textarea" type="text" placeholder="Enter description" rows="2" ng-model="newProduct.description"></textarea>
            <input type="text" class="form-control col-xs-3" placeholder="Enter price" ng-model="newProduct.price">
            <input type="text" class="form-control col-xs-3" placeholder="color" ng-model="newProduct.color">
            <select class="browser-default" ng-model="newProduct.category">
              <option value="" disabled selected>--Select a Category--</option>
              <option value="children">Children's Clothing</option>
              <option value="men">Men's Clothing</option>
              <option value="women">Women's Clothing</option>
            </select>
          </form>
        </div>
        <div class="card-action">
          <button class="btn btn-primary" ng-click="postProduct(newProduct)">Submit</button>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <h4>Inventory</h4>
      <div class="col s12 m6" ng-repeat="product in products">
        <div class="card" ng-hide="showUpdate">
          <div class="card-content">
            <div class="card-image"><img ng-src="{{product.imageUrl}}" alt=""></div>
            <span class="card-title">{{product.title}}</span>
            <p>{{product.description}}</p>
            <p>{{product.price | currency}}</p>
            <p>Color: {{product.color}}</p>
          </div>
          <div class="card-action">
            <a ng-click="showUpdate = !showUpdate">Update</a>
            <a ng-click="deleteProduct(product)">Delete</a>
          </div>
        </div>
        <div class="card" ng-show="showUpdate">
          <div class="card-content">
            <span class="card-title">{{product.title}}</span>
            <form>
              <div class="input-field">
                <select class="browser-default" ng-model="field">
                  <option value="" disabled selected>Choose a field to update</option>
                  <option value="title">Title</option>
                  <option value="description">Description</option>
                  <option value="price">Price</option>
                  <option value="color">Color</option>
                </select>
              </div>
              <input type="text" placeholder="Enter a new value" ng-model="value">
              <button class="btn btn-primary" ng-click="updateProduct(product, field, value)">Submit</button>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>
