<div>
  <button class="waves-effect waves-light btn" ng-click="placeOrder()">Place Order</button>
  <div class="row">
    <div class="col s12 m8 l6" ng-repeat="item in user.cart">
      <div class="card">
        <div class="card-image"><img ng-src="{{item.item.imageUrl}}" alt=""></div>
        <div class="content">
          <item-display-directive product="item.item"></item-display-directive>
          <input-field>
            <select material-select ng-model="item.size" class="s4">
              <option value="{{item.size}}" selected>{{item.size}}</option>
              <option value="8">8</option>
              <option value="7">7</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
            </select>
          </input-field>
          <input-field>
            <select material-select ng-model="item.quantity" class="s4">
              <option value="{{item.quantity}}" selected>{{item.quantity}}</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </input-field>
        </div>
        <div class="card-action">
          <a ng-click="updateCart(item)">Update Cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
