<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="center-align">Who We Are</h4>
      <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid perferendis consequuntur dignissimos aut sed, tempore similique obcaecati ullam expedita. Iure magni aliquid provident facilis perferendis voluptate consequatur corrupti odio. Mollitia.</p>
    </div>
  </div>
  <div class="row">
    <div class="section">
      <h5 class="center-align"><a ui-sref="shop">Start Shopping!</a></h5>
    </div>
  </div>

  <div class="row">
    <div class="section col s12">
      <h4 class="center-align">Latest Products</h4>

    </div>

  </div>
</div>
